.details {
  display: flex;
  width: 100%;
  margin: 4rem auto;
  min-height: 100vh;
  text-align: center;

  .no-selected-product {
    font-family: 'Roboto Condensed';
  }

  .details-content {
    width: 100%;
    display: flex;
    height: 100%;

    .left-content {
      width: 45%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bordColor5;

      img {
        width: 30rem;
        height: 35rem;

        &:hover {
        }
      }
    }

    .right-content {
      width: 50%;
      margin: 1rem 2.2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .item-details-title {
        text-align: left;
        h1 {
          font-size: 27px;
        }
      }

      .condition {
        text-align: left;
        font-family: 'Roboto Condensed';
        margin-top: 2rem;
      }

      .details-description {
        margin-top: 1.5rem;
        text-align: left;

        p {
          color: #666;
        }
      }

      .details-price {
        margin-top: 1.5rem;
        text-align: left;

        h3 {
          color: $orangeColor;
          font-size: 40px;
          font-weight: 400;
        }
      }

      .available-quantity {
        margin-top: 1rem;

        p {
          font-family: 'Roboto Condensed';
        }

        span {
          margin-left: 0.3rem;
        }
      }

      .btn-details-add {
        text-align: left;

        width: 100%;

        .btn-add {
          margin: 1.5rem 0 0 0rem;
          border: none;
          font-family: 'Roboto Condensed';
          color: white;
          background-color: $orangeColor;
          padding: 0.5rem 2rem;
          text-align: center;
          font-size: 1rem;

          &:hover {
            background-color: $orangeColorHover;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

.popup-left-content {
  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      position: relative;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgb(224, 144, 144);
      margin: 0 10px 0 3px;
      border-radius: 50%;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background: #86ff3b;
        box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
      }
      &:hover .content-popup {
        visibility: visible;
        opacity: 1;
      }

      .content-popup {
        position: absolute;
        bottom: 55px;
        width: 400px;
        background: $bordColor5;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;

        p {
          font-family: 'Roboto Condensed';
        }
      }
    }
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;

  .show-review {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: -20rem 0;
    flex-direction: column;
  }
}

.back-to-products {
  margin-top: 5rem;
}

.btns-quantity {
  width: 13%;

  margin: -2rem 0 0 4rem;
}

.btns-quantity-details {
  width: 20%;
}

.btns-qty {
  display: flex;
  margin-top: 2rem;

  width: 70%;
  justify-content: space-between;
  align-items: center;

  .amount-cart {
    width: 33%;
    display: flex;
    justify-content: center;
  }

  .min-container {
    width: 33%;

    display: flex;
    justify-content: center;

    .min-btn-details {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .max-container {
    width: 33%;

    display: flex;
    justify-content: center;

    .max-btn-details {
      color: $orangeColor;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

.see-cart {
  margin: 3rem 0 -2rem;

  .cart-details-icon {
    font-size: 3em;
    color: $bordColor6;
    margin: -2rem 0 0 1.2rem;

    &:hover {
      color: $orangeColor;
      transition: 0.2s ease-in-out;
      transform: translateX(4px);
    }
  }

  .see-cart-link {
    text-decoration: none;
    border: 1px solid $bordColor4;
    padding: 0.5rem 2rem;
    color: inherit;
    font-family: 'Roboto Condensed';

    &:hover {
      background-color: rgba(141, 138, 138, 0.589);
      color: white;
      transition: 0.4s;
    }
  }
}

.back-to-products {
  // margin: 0.5rem auto;

  .back-link {
    text-decoration: none;
    border: 1px solid $bordColor4;
    padding: 0.5rem 2.2rem;
    color: white;
    background-color: #222;
    font-family: 'Roboto Condensed';
    font-size: 15px;

    &:hover {
      background-color: rgba(141, 138, 138, 0.589);
      transition: 0.3s;
    }
  }
}

.show-review-details {
  margin: 2rem 0;

  .show-rating {
    margin-bottom: 5rem;
  }
  p {
    margin-bottom: 1rem;
  }
}
