.star-rating {
  margin-top: 1rem;
}

.rating {
  margin: 5rem 0 0 5rem;
}

.star-rating input {
  display: none;
}

.star {
  cursor: pointer;
}

.form input {
  margin-right: 1rem;
}

.form textarea {
  margin: 2rem 1rem 0 0;
}

.stars {
  cursor: not-allowed;
}

.form {
  display: flex;
  margin: 2rem;
  width: 70%;
}

.cartao-container {
  margin-top: 2rem;
}

.submit-button {
  margin: 2rem;
}

.label {
  display: inline;
}
