@import 'variables.scss';
@import './pages/Cart.scss';
@import './pages/Details.scss';
@import './pages/Checkout.scss';
@import './pages/Products.scss';
@import './pages/About.scss';
@import './pages/Home.scss';
@import './components/StarRating.scss';
@import './components/Player/Player.scss';
@import './components/Player/Song.scss';
@import './components/Header.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla';
  font-size: 17px;
  font-weight: 400;

  // background-color: #f8f6f7;
}

h4 {
  font-family: 'Roboto Condensed';
}

body {
  overflow: scroll;
  color: #102a42;
}

ul {
  list-style: none;
}
