@import 'variables.scss';
@import './components/Cargories.scss';
@import './components/Card.scss';
@import './pages/Cart.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  border: 1px solid black;
  height: 4rem;
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.product-container {
  background-color: rgb(216, 168, 168);
  min-height: 100vh;
  display: flex;
  width: 65%;
  margin: 4rem auto;

  .section-products {
    width: 80%;
    background-color: rgb(211, 211, 154);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0 auto;
  justify-content: space-around;
}

.nav-pagination {
  display: flex;
  justify-content: center;

  .ul-list {
    display: flex;
    margin-top: 0.5rem;

    .page-active {
      background-color: rgb(165, 165, 211);
    }

    li {
      border: 1px solid black;
      margin: 0.2rem;
      width: 2rem;
      cursor: pointer;
    }
  }
}

.cart-login-container {
  display: flex;
  width: 10rem;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;

  .cart {
    margin-right: 1rem;
  }
}

.home,
.cart-container,
.about-container,
.empty-cart {
  background-color: rgb(216, 168, 168);
  display: flex;
  width: 65%;
  margin: 4rem auto;
  min-height: 100vh;
}
